<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<body class="bg-info">

<form method="POST" class="form-horizontal">
    {% csrf_token %}
    <div class="form-control col-sm-2">
    {{ form }}
    </div>
    <div class="form-control col-sm-2 ">
        <button id="execute" name="execute" type="submit" value="execute" class="btn btn-default inline">execute</button>
        <button id="reset" name="reset" type="submit" value="reset" class="btn btn-default inline">reset</button>
    </div>
    <div id="answer" class="form-control col-sm-10">
    {{ answer }}
    </div>
</form>

</body>
</html>