<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<body class="bg-info ">

<form method="POST" class="form-horizontal">
    {% csrf_token %}
    <div class="form-control col-sm-5">
    {{ form }}
    </div>
    <div class="form-control col-sm-5 ">
        <button id="execute" name="execute" type="submit" value="execute" class="btn btn-default inline">execute!</button>
    </div>
</form>

<form method="POST" class="form-horizontal">
    {% csrf_token %}
    <div class="form-control col-sm-5">
    {{ dateForm }}
    </div>
    <div class="form-control col-sm-5 ">
        <button id="executeDate" name="executeDate" type="submit" value="executeDate" class="btn btn-default inline">See date</button>
    </div>
</form>



<div id="answer" class="form-control col-sm-5">
    {% for list in answer %}
    {% for word in list %}
        {{ word }}
    {% endfor %}
    <br>
{% endfor %}
</div>


<p hidden>Esto se va a ver como el carajo, es muy guarro, lo sabemos</p>

</body>
</html>